@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
}

.one:hover span:last-child {
  width: 100%;
}

.noScroll::-webkit-scrollbar {
  display: none;
}

.noScroll {
  /* -ms-overflow-style: none; */
  scrollbar-width: none;
}
